<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455268554992-40k2bcu7g83qgeppoq6lko82epad848f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455268554992-40k2bcu7g83qgeppoq6lko82epad848f</string>
	<key>API_KEY</key>
	<string>AIzaSyD3FbDjLTvYuP2mH5uLqCxdVdI5_F2dXQA</string>
	<key>GCM_SENDER_ID</key>
	<string>455268554992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-36ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-36ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455268554992:ios:59b9708720f8e282a8ca35</string>
</dict>
</plist>